
  @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&family=Roboto:wght@300;400&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root {
   --primary-text-color: #4dc8f5;
   --secondary-text-color: #577592;
   --accent-color: #2294ed;
   --accent-color-dark: #1d69a3;
}

body{
    font-family: 'Poppins', sans-serif;
    color: var(--primary-text-color);
}
p{
    font-family: 'Roboto', sans-serif;
}